<app-navbar style="color: white;"></app-navbar>
<div class="background">
  <div style="position: absolute;
  top: 5%;
  height: 70%;
  width: 100%;">
    <mat-card style="background-color: grey;">
      <mat-card-header style="color:white;">
        <mat-card-title>Profile Information</mat-card-title>
      </mat-card-header>
      <mat-card-content style="color:white;">
        <p><b>Username:</b> {{user.Username}}</p>
        <p><b>Email:</b> {{user.Email}}</p>
        <p><b>Birthday:</b> {{user.Birthday | date }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="openEditUserProfile()">
          <mat-icon>edit</mat-icon>
          Edit Profile
        </button>
        <button mat-raised-button (click)="deleteUserProfile()">
          <mat-icon>delete_forever</mat-icon>
          Delete Profile
        </button>

      </mat-card-actions>
    </mat-card>
  </div>


  <div style="position: absolute;
  top: 26%;
  height: 70%;
  width: 100%;">
    <h2 style="text-align: center; color: white;">Favorite Movies</h2>
  </div>
  <div style="display: flex; position: absolute;
  top: 30%;
  height: 70%;
  width: 100%;
  overflow-x: scroll;">
    <mat-card style="background-color: transparent; color: white;" *ngFor="let movie of favoriteMovies;">
      <mat-card-header style="height:15%; text-align: center;">
        <mat-card-title style="text-align: center;">{{movie.Title}}</mat-card-title>
        <mat-card-subtitle style="color: white;">Directed by: {{movie.Director.Name}}</mat-card-subtitle>
      </mat-card-header>
      <img id="cover-img" src={{movie.ImagePath}} alt={{movie.Title}} />
      <mat-card-actions style="text-align: center;">
        <button mat-icon-button (click)="deleteFavoriteMovies(movie._id, movie.Title)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>