#cover_img {
  height: 50vh;
  width: 35vh;
}

.background {
  background-image: url('https://cdn.wallpapersafari.com/21/31/CgQ8mS.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}