<app-navbar style="color: white;"></app-navbar>
<div class="background">
  <div style="display: flex; position: absolute;
  top: 10%;
  height: 85%;
  width: 100%;
  overflow-x: scroll;">
    <mat-card style="background-color: transparent; color: white;" *ngFor="let movie of movies;">
      <mat-card-header style="height:15%; text-align: center;">
        <mat-card-title style="font-size: 2vh;">{{movie.Title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img id="cover_img" src={{movie.ImagePath}} alt={{movie.Title}} />
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button mat-raised-button (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)" color="primary">
          Genre
        </button>
        <button mat-raised-button
          (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death)"
          color="primary">
          Director
        </button>
        <button mat-raised-button (click)="openSynopsisDialog(movie.Description)" color="primary">
          Synopsis
        </button>
        <button mat-raised-button (click)="addFavorite(movie._id, movie.Title)" color="primary">
          <mat-icon>favorite_border</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>